<section class="filter-bar">
  <p>Sort:</p>
  <ul>
    <li><a href="#" (click)="getMovieAToZ()">Alphabetically (A - Z)</a></li>
    <li><a href="#" (click)="getMovieZToA()">Alphabetically (Z - A)</a></li>
    <li><a href="#" (click)="getMovieOldToNew()">Release Date (Old - New)</a></li>
    <li><a href="#" (click)="getMovieNewToOld()">Release Date (New - Old)</a></li>
  </ul>
</section>

<section class="movie-list">
  <app-movie-card *ngFor="let movie of movieArray" [movie]="movie"></app-movie-card>
</section>