*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fantasy;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1{
  background-color: burlywood;
  height: 100px;
  padding-left: 20px;

  @media screen and (max-width: 440px) {
    font-size: 1em;
  }
}